.App {
  text-align: center;
}


.color-picker {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-picker button {
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.color-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.color-item {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-top: 35px;
    box-shadow: 1px 1px 1px 1px;
}

.selected-color {
    width: 1000px;
    height: 400px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    line-height: 50px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 3px 3px 3px 1px;
}